ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/EtiquetaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="EtiquetaWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/EtiquetaWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarEtiqueta">
    <part name="parameters" element="tns:actualizarEtiqueta" />
  </message>
  <message name="actualizarEtiquetaResponse">
    <part name="parameters" element="tns:actualizarEtiquetaResponse" />
  </message>
  <message name="listarEtiquetas">
    <part name="parameters" element="tns:listarEtiquetas" />
  </message>
  <message name="listarEtiquetasResponse">
    <part name="parameters" element="tns:listarEtiquetasResponse" />
  </message>
  <message name="eliminarEtiqueta">
    <part name="parameters" element="tns:eliminarEtiqueta" />
  </message>
  <message name="eliminarEtiquetaResponse">
    <part name="parameters" element="tns:eliminarEtiquetaResponse" />
  </message>
  <message name="insertarEtiqueta">
    <part name="parameters" element="tns:insertarEtiqueta" />
  </message>
  <message name="insertarEtiquetaResponse">
    <part name="parameters" element="tns:insertarEtiquetaResponse" />
  </message>
  <portType name="EtiquetaWS">
    <operation name="actualizarEtiqueta">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/actualizarEtiquetaRequest" message="tns:actualizarEtiqueta" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/actualizarEtiquetaResponse" message="tns:actualizarEtiquetaResponse" />
    </operation>
    <operation name="listarEtiquetas">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/listarEtiquetasRequest" message="tns:listarEtiquetas" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/listarEtiquetasResponse" message="tns:listarEtiquetasResponse" />
    </operation>
    <operation name="eliminarEtiqueta">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/eliminarEtiquetaRequest" message="tns:eliminarEtiqueta" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/eliminarEtiquetaResponse" message="tns:eliminarEtiquetaResponse" />
    </operation>
    <operation name="insertarEtiqueta">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/insertarEtiquetaRequest" message="tns:insertarEtiqueta" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/EtiquetaWS/insertarEtiquetaResponse" message="tns:insertarEtiquetaResponse" />
    </operation>
  </portType>
  <binding name="EtiquetaWSPortBinding" type="tns:EtiquetaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarEtiqueta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarEtiquetas">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarEtiqueta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarEtiqueta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EtiquetaWS">
    <port name="EtiquetaWSPort" binding="tns:EtiquetaWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/EtiquetaWS" />
    </port>
  </service>
</definitions>