ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/JuegoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="JuegoWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/JuegoWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarJuego">
    <part name="parameters" element="tns:insertarJuego" />
  </message>
  <message name="insertarJuegoResponse">
    <part name="parameters" element="tns:insertarJuegoResponse" />
  </message>
  <message name="eliminarJuego">
    <part name="parameters" element="tns:eliminarJuego" />
  </message>
  <message name="eliminarJuegoResponse">
    <part name="parameters" element="tns:eliminarJuegoResponse" />
  </message>
  <message name="buscarJuego">
    <part name="parameters" element="tns:buscarJuego" />
  </message>
  <message name="buscarJuegoResponse">
    <part name="parameters" element="tns:buscarJuegoResponse" />
  </message>
  <message name="actualizarJuego">
    <part name="parameters" element="tns:actualizarJuego" />
  </message>
  <message name="actualizarJuegoResponse">
    <part name="parameters" element="tns:actualizarJuegoResponse" />
  </message>
  <message name="listarJuegos">
    <part name="parameters" element="tns:listarJuegos" />
  </message>
  <message name="listarJuegosResponse">
    <part name="parameters" element="tns:listarJuegosResponse" />
  </message>
  <portType name="JuegoWS">
    <operation name="insertarJuego">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/insertarJuegoRequest" message="tns:insertarJuego" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/insertarJuegoResponse" message="tns:insertarJuegoResponse" />
    </operation>
    <operation name="eliminarJuego">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/eliminarJuegoRequest" message="tns:eliminarJuego" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/eliminarJuegoResponse" message="tns:eliminarJuegoResponse" />
    </operation>
    <operation name="buscarJuego">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/buscarJuegoRequest" message="tns:buscarJuego" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/buscarJuegoResponse" message="tns:buscarJuegoResponse" />
    </operation>
    <operation name="actualizarJuego">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/actualizarJuegoRequest" message="tns:actualizarJuego" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/actualizarJuegoResponse" message="tns:actualizarJuegoResponse" />
    </operation>
    <operation name="listarJuegos">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/listarJuegosRequest" message="tns:listarJuegos" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/JuegoWS/listarJuegosResponse" message="tns:listarJuegosResponse" />
    </operation>
  </portType>
  <binding name="JuegoWSPortBinding" type="tns:JuegoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarJuegos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="JuegoWS">
    <port name="JuegoWSPort" binding="tns:JuegoWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/JuegoWS" />
    </port>
  </service>
</definitions>