ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/JuegoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://main.services.steam.pucp.edu.pe/" targetNamespace="http://main.services.steam.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarJuego" type="tns:actualizarJuego" />
  <xs:element name="actualizarJuegoResponse" type="tns:actualizarJuegoResponse" />
  <xs:element name="buscarJuego" type="tns:buscarJuego" />
  <xs:element name="buscarJuegoResponse" type="tns:buscarJuegoResponse" />
  <xs:element name="eliminarJuego" type="tns:eliminarJuego" />
  <xs:element name="eliminarJuegoResponse" type="tns:eliminarJuegoResponse" />
  <xs:element name="insertarJuego" type="tns:insertarJuego" />
  <xs:element name="insertarJuegoResponse" type="tns:insertarJuegoResponse" />
  <xs:element name="listarJuegos" type="tns:listarJuegos" />
  <xs:element name="listarJuegosResponse" type="tns:listarJuegosResponse" />
  <xs:complexType name="eliminarJuego">
    <xs:sequence>
      <xs:element name="idJuego" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarJuegoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarJuego">
    <xs:sequence>
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juego">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idObjetos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="logros" nillable="true" type="tns:logro" />
          <xs:element name="multijugador" type="xs:boolean" />
          <xs:element minOccurs="0" name="requisitosMinimos" type="xs:string" />
          <xs:element minOccurs="0" name="requisitosRecomendados" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="espacioDisco" type="xs:double" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="logoUrl" type="xs:string" />
      <xs:element minOccurs="0" name="portadaUrl" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLogro" type="xs:int" />
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarJuegoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarJuego">
    <xs:sequence>
      <xs:element name="idJuego" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarJuegoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:juego" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarJuegos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarJuegosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:juego" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarJuego">
    <xs:sequence>
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarJuegoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>