ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/LogroDesbloqueadoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LogroDesbloqueadoWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/LogroDesbloqueadoWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarLogrosDesbloqueadosProductoAdquirido">
    <part name="parameters" element="tns:listarLogrosDesbloqueadosProductoAdquirido" />
  </message>
  <message name="listarLogrosDesbloqueadosProductoAdquiridoResponse">
    <part name="parameters" element="tns:listarLogrosDesbloqueadosProductoAdquiridoResponse" />
  </message>
  <message name="actualizarLogroDesbloqueado">
    <part name="parameters" element="tns:actualizarLogroDesbloqueado" />
  </message>
  <message name="actualizarLogroDesbloqueadoResponse">
    <part name="parameters" element="tns:actualizarLogroDesbloqueadoResponse" />
  </message>
  <message name="eliminarLogroDesbloqueado">
    <part name="parameters" element="tns:eliminarLogroDesbloqueado" />
  </message>
  <message name="eliminarLogroDesbloqueadoResponse">
    <part name="parameters" element="tns:eliminarLogroDesbloqueadoResponse" />
  </message>
  <message name="insertarLogroDesbloqueado">
    <part name="parameters" element="tns:insertarLogroDesbloqueado" />
  </message>
  <message name="insertarLogroDesbloqueadoResponse">
    <part name="parameters" element="tns:insertarLogroDesbloqueadoResponse" />
  </message>
  <portType name="LogroDesbloqueadoWS">
    <operation name="listarLogrosDesbloqueadosProductoAdquirido">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/listarLogrosDesbloqueadosProductoAdquiridoRequest" message="tns:listarLogrosDesbloqueadosProductoAdquirido" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/listarLogrosDesbloqueadosProductoAdquiridoResponse" message="tns:listarLogrosDesbloqueadosProductoAdquiridoResponse" />
    </operation>
    <operation name="actualizarLogroDesbloqueado">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/actualizarLogroDesbloqueadoRequest" message="tns:actualizarLogroDesbloqueado" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/actualizarLogroDesbloqueadoResponse" message="tns:actualizarLogroDesbloqueadoResponse" />
    </operation>
    <operation name="eliminarLogroDesbloqueado">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/eliminarLogroDesbloqueadoRequest" message="tns:eliminarLogroDesbloqueado" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/eliminarLogroDesbloqueadoResponse" message="tns:eliminarLogroDesbloqueadoResponse" />
    </operation>
    <operation name="insertarLogroDesbloqueado">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/insertarLogroDesbloqueadoRequest" message="tns:insertarLogroDesbloqueado" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/LogroDesbloqueadoWS/insertarLogroDesbloqueadoResponse" message="tns:insertarLogroDesbloqueadoResponse" />
    </operation>
  </portType>
  <binding name="LogroDesbloqueadoWSPortBinding" type="tns:LogroDesbloqueadoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarLogrosDesbloqueadosProductoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarLogroDesbloqueado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLogroDesbloqueado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLogroDesbloqueado">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LogroDesbloqueadoWS">
    <port name="LogroDesbloqueadoWSPort" binding="tns:LogroDesbloqueadoWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/LogroDesbloqueadoWS" />
    </port>
  </service>
</definitions>