ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/MedallaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MedallaWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/MedallaWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="buscarCartera">
    <part name="parameters" element="tns:buscarCartera" />
  </message>
  <message name="buscarCarteraResponse">
    <part name="parameters" element="tns:buscarCarteraResponse" />
  </message>
  <message name="actualizarCartera">
    <part name="parameters" element="tns:actualizarCartera" />
  </message>
  <message name="actualizarCarteraResponse">
    <part name="parameters" element="tns:actualizarCarteraResponse" />
  </message>
  <message name="insertarMedalla">
    <part name="parameters" element="tns:insertarMedalla" />
  </message>
  <message name="insertarMedallaResponse">
    <part name="parameters" element="tns:insertarMedallaResponse" />
  </message>
  <portType name="MedallaWS">
    <operation name="buscarCartera">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/MedallaWS/buscarCarteraRequest" message="tns:buscarCartera" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/MedallaWS/buscarCarteraResponse" message="tns:buscarCarteraResponse" />
    </operation>
    <operation name="actualizarCartera">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/MedallaWS/actualizarCarteraRequest" message="tns:actualizarCartera" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/MedallaWS/actualizarCarteraResponse" message="tns:actualizarCarteraResponse" />
    </operation>
    <operation name="insertarMedalla">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/MedallaWS/insertarMedallaRequest" message="tns:insertarMedalla" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/MedallaWS/insertarMedallaResponse" message="tns:insertarMedallaResponse" />
    </operation>
  </portType>
  <binding name="MedallaWSPortBinding" type="tns:MedallaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarCartera">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCartera">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMedalla">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MedallaWS">
    <port name="MedallaWSPort" binding="tns:MedallaWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/MedallaWS" />
    </port>
  </service>
</definitions>