ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/PaisWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://main.services.steam.pucp.edu.pe/" targetNamespace="http://main.services.steam.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarPais" type="tns:actualizarPais" />
  <xs:element name="actualizarPaisResponse" type="tns:actualizarPaisResponse" />
  <xs:element name="buscarPais" type="tns:buscarPais" />
  <xs:element name="buscarPaisResponse" type="tns:buscarPaisResponse" />
  <xs:element name="insertarPais" type="tns:insertarPais" />
  <xs:element name="insertarPaisResponse" type="tns:insertarPaisResponse" />
  <xs:element name="listarPaises" type="tns:listarPaises" />
  <xs:element name="listarPaisesResponse" type="tns:listarPaisesResponse" />
  <xs:complexType name="insertarPais">
    <xs:sequence>
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pais">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element name="idPais" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" type="tns:tipoMoneda" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoMoneda">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cambioDeDolares" type="xs:double" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCambio" type="xs:dateTime" />
      <xs:element name="idTipoMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPaisResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPaises">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPaisesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:pais" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPais">
    <xs:sequence>
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPaisResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPais">
    <xs:sequence>
      <xs:element name="idPais" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPaisResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:pais" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>