ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/ProductoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ProductoWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarProductosPorEtiqueta">
    <part name="parameters" element="tns:listarProductosPorEtiqueta" />
  </message>
  <message name="listarProductosPorEtiquetaResponse">
    <part name="parameters" element="tns:listarProductosPorEtiquetaResponse" />
  </message>
  <message name="listarProductosPorTituloDesarrollador">
    <part name="parameters" element="tns:listarProductosPorTituloDesarrollador" />
  </message>
  <message name="listarProductosPorTituloDesarrolladorResponse">
    <part name="parameters" element="tns:listarProductosPorTituloDesarrolladorResponse" />
  </message>
  <message name="listarProductos">
    <part name="parameters" element="tns:listarProductos" />
  </message>
  <message name="listarProductosResponse">
    <part name="parameters" element="tns:listarProductosResponse" />
  </message>
  <message name="buscarProducto">
    <part name="parameters" element="tns:buscarProducto" />
  </message>
  <message name="buscarProductoResponse">
    <part name="parameters" element="tns:buscarProductoResponse" />
  </message>
  <portType name="ProductoWS">
    <operation name="listarProductosPorEtiqueta">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/listarProductosPorEtiquetaRequest" message="tns:listarProductosPorEtiqueta" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/listarProductosPorEtiquetaResponse" message="tns:listarProductosPorEtiquetaResponse" />
    </operation>
    <operation name="listarProductosPorTituloDesarrollador">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/listarProductosPorTituloDesarrolladorRequest" message="tns:listarProductosPorTituloDesarrollador" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/listarProductosPorTituloDesarrolladorResponse" message="tns:listarProductosPorTituloDesarrolladorResponse" />
    </operation>
    <operation name="listarProductos">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/listarProductosRequest" message="tns:listarProductos" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/listarProductosResponse" message="tns:listarProductosResponse" />
    </operation>
    <operation name="buscarProducto">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/buscarProductoRequest" message="tns:buscarProducto" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/ProductoWS/buscarProductoResponse" message="tns:buscarProductoResponse" />
    </operation>
  </portType>
  <binding name="ProductoWSPortBinding" type="tns:ProductoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarProductosPorEtiqueta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosPorTituloDesarrollador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoWS">
    <port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ProductoWS" />
    </port>
  </service>
</definitions>