ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/ProductoAdquiridoColeccionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://main.services.steam.pucp.edu.pe/" targetNamespace="http://main.services.steam.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarProductoAdquiridoDeColeccion" type="tns:eliminarProductoAdquiridoDeColeccion" />
  <xs:element name="eliminarProductoAdquiridoDeColeccionResponse" type="tns:eliminarProductoAdquiridoDeColeccionResponse" />
  <xs:element name="insertarProductoAdquiridoAColeccion" type="tns:insertarProductoAdquiridoAColeccion" />
  <xs:element name="insertarProductoAdquiridoAColeccionResponse" type="tns:insertarProductoAdquiridoAColeccionResponse" />
  <xs:complexType name="insertarProductoAdquiridoAColeccion">
    <xs:sequence>
      <xs:element name="idColeccion" type="xs:int" />
      <xs:element name="idProductoAdquirido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoAdquiridoAColeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoAdquiridoDeColeccion">
    <xs:sequence>
      <xs:element name="idColeccion" type="xs:int" />
      <xs:element name="idProductoAdquirido" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoAdquiridoDeColeccionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>