ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/ProveedorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://main.services.steam.pucp.edu.pe/" targetNamespace="http://main.services.steam.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarProveedor" type="tns:actualizarProveedor" />
  <xs:element name="actualizarProveedorResponse" type="tns:actualizarProveedorResponse" />
  <xs:element name="eliminarProveedor" type="tns:eliminarProveedor" />
  <xs:element name="eliminarProveedorResponse" type="tns:eliminarProveedorResponse" />
  <xs:element name="insertarProveedor" type="tns:insertarProveedor" />
  <xs:element name="insertarProveedorResponse" type="tns:insertarProveedorResponse" />
  <xs:element name="listarProveedores" type="tns:listarProveedores" />
  <xs:element name="listarProveedoresResponse" type="tns:listarProveedoresResponse" />
  <xs:complexType name="eliminarProveedor">
    <xs:sequence>
      <xs:element name="idProveedor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProveedores">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarProveedoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto" abstract="true">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="espacioDisco" type="xs:double" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="logoUrl" type="xs:string" />
      <xs:element minOccurs="0" name="portadaUrl" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProveedor">
    <xs:sequence>
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProveedorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>