ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/SubforoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="SubforoWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/SubforoWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="editarSubforo">
    <part name="parameters" element="tns:editarSubforo" />
  </message>
  <message name="editarSubforoResponse">
    <part name="parameters" element="tns:editarSubforoResponse" />
  </message>
  <message name="insertarSubforo">
    <part name="parameters" element="tns:insertarSubforo" />
  </message>
  <message name="insertarSubforoResponse">
    <part name="parameters" element="tns:insertarSubforoResponse" />
  </message>
  <message name="eliminarSubforo">
    <part name="parameters" element="tns:eliminarSubforo" />
  </message>
  <message name="eliminarSubforoResponse">
    <part name="parameters" element="tns:eliminarSubforoResponse" />
  </message>
  <message name="mostrarSubforosForo">
    <part name="parameters" element="tns:mostrarSubforosForo" />
  </message>
  <message name="mostrarSubforosForoResponse">
    <part name="parameters" element="tns:mostrarSubforosForoResponse" />
  </message>
  <portType name="SubforoWS">
    <operation name="editarSubforo">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/editarSubforoRequest" message="tns:editarSubforo" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/editarSubforoResponse" message="tns:editarSubforoResponse" />
    </operation>
    <operation name="insertarSubforo">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/insertarSubforoRequest" message="tns:insertarSubforo" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/insertarSubforoResponse" message="tns:insertarSubforoResponse" />
    </operation>
    <operation name="eliminarSubforo">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/eliminarSubforoRequest" message="tns:eliminarSubforo" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/eliminarSubforoResponse" message="tns:eliminarSubforoResponse" />
    </operation>
    <operation name="mostrarSubforosForo">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/mostrarSubforosForoRequest" message="tns:mostrarSubforosForo" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/SubforoWS/mostrarSubforosForoResponse" message="tns:mostrarSubforosForoResponse" />
    </operation>
  </portType>
  <binding name="SubforoWSPortBinding" type="tns:SubforoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="editarSubforo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarSubforo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarSubforo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarSubforosForo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="SubforoWS">
    <port name="SubforoWSPort" binding="tns:SubforoWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/SubforoWS" />
    </port>
  </service>
</definitions>