ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServiceWS/TipoMonedaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://main.services.steam.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="TipoMonedaWS" targetNamespace="http://main.services.steam.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/TipoMonedaWS?xsd=1" namespace="http://main.services.steam.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarTiposMoneda">
    <part name="parameters" element="tns:listarTiposMoneda" />
  </message>
  <message name="listarTiposMonedaResponse">
    <part name="parameters" element="tns:listarTiposMonedaResponse" />
  </message>
  <message name="insertarTipoMoneda">
    <part name="parameters" element="tns:insertarTipoMoneda" />
  </message>
  <message name="insertarTipoMonedaResponse">
    <part name="parameters" element="tns:insertarTipoMonedaResponse" />
  </message>
  <message name="eliminarTipoMoneda">
    <part name="parameters" element="tns:eliminarTipoMoneda" />
  </message>
  <message name="eliminarTipoMonedaResponse">
    <part name="parameters" element="tns:eliminarTipoMonedaResponse" />
  </message>
  <message name="actualizarTiposMoneda">
    <part name="parameters" element="tns:actualizarTiposMoneda" />
  </message>
  <message name="actualizarTiposMonedaResponse">
    <part name="parameters" element="tns:actualizarTiposMonedaResponse" />
  </message>
  <portType name="TipoMonedaWS">
    <operation name="listarTiposMoneda">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/listarTiposMonedaRequest" message="tns:listarTiposMoneda" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/listarTiposMonedaResponse" message="tns:listarTiposMonedaResponse" />
    </operation>
    <operation name="insertarTipoMoneda">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/insertarTipoMonedaRequest" message="tns:insertarTipoMoneda" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/insertarTipoMonedaResponse" message="tns:insertarTipoMonedaResponse" />
    </operation>
    <operation name="eliminarTipoMoneda">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/eliminarTipoMonedaRequest" message="tns:eliminarTipoMoneda" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/eliminarTipoMonedaResponse" message="tns:eliminarTipoMonedaResponse" />
    </operation>
    <operation name="actualizarTiposMoneda">
      <input wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/actualizarTiposMonedaRequest" message="tns:actualizarTiposMoneda" />
      <output wsam:Action="http://main.services.steam.pucp.edu.pe/TipoMonedaWS/actualizarTiposMonedaResponse" message="tns:actualizarTiposMonedaResponse" />
    </operation>
  </portType>
  <binding name="TipoMonedaWSPortBinding" type="tns:TipoMonedaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarTiposMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarTipoMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarTipoMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarTiposMoneda">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TipoMonedaWS">
    <port name="TipoMonedaWSPort" binding="tns:TipoMonedaWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/TipoMonedaWS" />
    </port>
  </service>
</definitions>