FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/BandaSonoraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BandaSonoraWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/BandaSonoraWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="buscarBandaSonora">
    <part name="parameters" element="tns:buscarBandaSonora" />
  </message>
  <message name="buscarBandaSonoraResponse">
    <part name="parameters" element="tns:buscarBandaSonoraResponse" />
  </message>
  <message name="listarBandaSonoras">
    <part name="parameters" element="tns:listarBandaSonoras" />
  </message>
  <message name="listarBandaSonorasResponse">
    <part name="parameters" element="tns:listarBandaSonorasResponse" />
  </message>
  <message name="actualizarBandaSonora">
    <part name="parameters" element="tns:actualizarBandaSonora" />
  </message>
  <message name="actualizarBandaSonoraResponse">
    <part name="parameters" element="tns:actualizarBandaSonoraResponse" />
  </message>
  <message name="eliminarBandaSonora">
    <part name="parameters" element="tns:eliminarBandaSonora" />
  </message>
  <message name="eliminarBandaSonoraResponse">
    <part name="parameters" element="tns:eliminarBandaSonoraResponse" />
  </message>
  <message name="insertarBandaSonora">
    <part name="parameters" element="tns:insertarBandaSonora" />
  </message>
  <message name="insertarBandaSonoraResponse">
    <part name="parameters" element="tns:insertarBandaSonoraResponse" />
  </message>
  <portType name="BandaSonoraWS">
    <operation name="buscarBandaSonora">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/buscarBandaSonoraRequest" message="tns:buscarBandaSonora" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/buscarBandaSonoraResponse" message="tns:buscarBandaSonoraResponse" />
    </operation>
    <operation name="listarBandaSonoras">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/listarBandaSonorasRequest" message="tns:listarBandaSonoras" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/listarBandaSonorasResponse" message="tns:listarBandaSonorasResponse" />
    </operation>
    <operation name="actualizarBandaSonora">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/actualizarBandaSonoraRequest" message="tns:actualizarBandaSonora" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/actualizarBandaSonoraResponse" message="tns:actualizarBandaSonoraResponse" />
    </operation>
    <operation name="eliminarBandaSonora">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/eliminarBandaSonoraRequest" message="tns:eliminarBandaSonora" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/eliminarBandaSonoraResponse" message="tns:eliminarBandaSonoraResponse" />
    </operation>
    <operation name="insertarBandaSonora">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/insertarBandaSonoraRequest" message="tns:insertarBandaSonora" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/BandaSonoraWS/insertarBandaSonoraResponse" message="tns:insertarBandaSonoraResponse" />
    </operation>
  </portType>
  <binding name="BandaSonoraWSPortBinding" type="tns:BandaSonoraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarBandaSonora">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarBandaSonoras">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarBandaSonora">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarBandaSonora">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarBandaSonora">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BandaSonoraWS">
    <port name="BandaSonoraWSPort" binding="tns:BandaSonoraWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/BandaSonoraWS" />
    </port>
  </service>
</definitions>