FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/CarteraWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CarteraWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/CarteraWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="buscarCartera">
    <part name="parameters" element="tns:buscarCartera" />
  </message>
  <message name="buscarCarteraResponse">
    <part name="parameters" element="tns:buscarCarteraResponse" />
  </message>
  <message name="actualizarCartera">
    <part name="parameters" element="tns:actualizarCartera" />
  </message>
  <message name="actualizarCarteraResponse">
    <part name="parameters" element="tns:actualizarCarteraResponse" />
  </message>
  <message name="asignarCarteraUsuario">
    <part name="parameters" element="tns:asignarCarteraUsuario" />
  </message>
  <message name="asignarCarteraUsuarioResponse">
    <part name="parameters" element="tns:asignarCarteraUsuarioResponse" />
  </message>
  <portType name="CarteraWS">
    <operation name="buscarCartera">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CarteraWS/buscarCarteraRequest" message="tns:buscarCartera" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CarteraWS/buscarCarteraResponse" message="tns:buscarCarteraResponse" />
    </operation>
    <operation name="actualizarCartera">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CarteraWS/actualizarCarteraRequest" message="tns:actualizarCartera" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CarteraWS/actualizarCarteraResponse" message="tns:actualizarCarteraResponse" />
    </operation>
    <operation name="asignarCarteraUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/CarteraWS/asignarCarteraUsuarioRequest" message="tns:asignarCarteraUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/CarteraWS/asignarCarteraUsuarioResponse" message="tns:asignarCarteraUsuarioResponse" />
    </operation>
  </portType>
  <binding name="CarteraWSPortBinding" type="tns:CarteraWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarCartera">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarCartera">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="asignarCarteraUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CarteraWS">
    <port name="CarteraWSPort" binding="tns:CarteraWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/CarteraWS" />
    </port>
  </service>
</definitions>