FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ColeccionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ColeccionWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ColeccionWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarColeccion">
    <part name="parameters" element="tns:actualizarColeccion" />
  </message>
  <message name="actualizarColeccionResponse">
    <part name="parameters" element="tns:actualizarColeccionResponse" />
  </message>
  <message name="eliminarColeccion">
    <part name="parameters" element="tns:eliminarColeccion" />
  </message>
  <message name="eliminarColeccionResponse">
    <part name="parameters" element="tns:eliminarColeccionResponse" />
  </message>
  <message name="insertarColeccion">
    <part name="parameters" element="tns:insertarColeccion" />
  </message>
  <message name="insertarColeccionResponse">
    <part name="parameters" element="tns:insertarColeccionResponse" />
  </message>
  <message name="listarColeccionesPorBiblioteca">
    <part name="parameters" element="tns:listarColeccionesPorBiblioteca" />
  </message>
  <message name="listarColeccionesPorBibliotecaResponse">
    <part name="parameters" element="tns:listarColeccionesPorBibliotecaResponse" />
  </message>
  <portType name="ColeccionWS">
    <operation name="actualizarColeccion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/actualizarColeccionRequest" message="tns:actualizarColeccion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/actualizarColeccionResponse" message="tns:actualizarColeccionResponse" />
    </operation>
    <operation name="eliminarColeccion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/eliminarColeccionRequest" message="tns:eliminarColeccion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/eliminarColeccionResponse" message="tns:eliminarColeccionResponse" />
    </operation>
    <operation name="insertarColeccion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/insertarColeccionRequest" message="tns:insertarColeccion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/insertarColeccionResponse" message="tns:insertarColeccionResponse" />
    </operation>
    <operation name="listarColeccionesPorBiblioteca">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/listarColeccionesPorBibliotecaRequest" message="tns:listarColeccionesPorBiblioteca" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ColeccionWS/listarColeccionesPorBibliotecaResponse" message="tns:listarColeccionesPorBibliotecaResponse" />
    </operation>
  </portType>
  <binding name="ColeccionWSPortBinding" type="tns:ColeccionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarColeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarColeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarColeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarColeccionesPorBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ColeccionWS">
    <port name="ColeccionWSPort" binding="tns:ColeccionWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ColeccionWS" />
    </port>
  </service>
</definitions>