FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ComentarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ComentarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ComentarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarComentario">
    <part name="parameters" element="tns:insertarComentario" />
  </message>
  <message name="insertarComentarioResponse">
    <part name="parameters" element="tns:insertarComentarioResponse" />
  </message>
  <message name="ocultarComentario">
    <part name="parameters" element="tns:ocultarComentario" />
  </message>
  <message name="ocultarComentarioResponse">
    <part name="parameters" element="tns:ocultarComentarioResponse" />
  </message>
  <message name="listarComentarios">
    <part name="parameters" element="tns:listarComentarios" />
  </message>
  <message name="listarComentariosResponse">
    <part name="parameters" element="tns:listarComentariosResponse" />
  </message>
  <message name="listarComentariosPerfil">
    <part name="parameters" element="tns:listarComentariosPerfil" />
  </message>
  <message name="listarComentariosPerfilResponse">
    <part name="parameters" element="tns:listarComentariosPerfilResponse" />
  </message>
  <message name="actualizarComentario">
    <part name="parameters" element="tns:actualizarComentario" />
  </message>
  <message name="actualizarComentarioResponse">
    <part name="parameters" element="tns:actualizarComentarioResponse" />
  </message>
  <portType name="ComentarioWS">
    <operation name="insertarComentario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/insertarComentarioRequest" message="tns:insertarComentario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/insertarComentarioResponse" message="tns:insertarComentarioResponse" />
    </operation>
    <operation name="ocultarComentario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/ocultarComentarioRequest" message="tns:ocultarComentario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/ocultarComentarioResponse" message="tns:ocultarComentarioResponse" />
    </operation>
    <operation name="listarComentarios">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/listarComentariosRequest" message="tns:listarComentarios" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/listarComentariosResponse" message="tns:listarComentariosResponse" />
    </operation>
    <operation name="listarComentariosPerfil">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/listarComentariosPerfilRequest" message="tns:listarComentariosPerfil" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/listarComentariosPerfilResponse" message="tns:listarComentariosPerfilResponse" />
    </operation>
    <operation name="actualizarComentario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/actualizarComentarioRequest" message="tns:actualizarComentario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ComentarioWS/actualizarComentarioResponse" message="tns:actualizarComentarioResponse" />
    </operation>
  </portType>
  <binding name="ComentarioWSPortBinding" type="tns:ComentarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ocultarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComentarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarComentariosPerfil">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarComentario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ComentarioWS">
    <port name="ComentarioWSPort" binding="tns:ComentarioWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ComentarioWS" />
    </port>
  </service>
</definitions>