FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ExpositorWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ExpositorWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ExpositorWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarExpositoresPerfil">
    <part name="parameters" element="tns:listarExpositoresPerfil" />
  </message>
  <message name="listarExpositoresPerfilResponse">
    <part name="parameters" element="tns:listarExpositoresPerfilResponse" />
  </message>
  <message name="actualizarExpositor">
    <part name="parameters" element="tns:actualizarExpositor" />
  </message>
  <message name="actualizarExpositorResponse">
    <part name="parameters" element="tns:actualizarExpositorResponse" />
  </message>
  <message name="insertarExpositor">
    <part name="parameters" element="tns:insertarExpositor" />
  </message>
  <message name="insertarExpositorResponse">
    <part name="parameters" element="tns:insertarExpositorResponse" />
  </message>
  <message name="listarExpositores">
    <part name="parameters" element="tns:listarExpositores" />
  </message>
  <message name="listarExpositoresResponse">
    <part name="parameters" element="tns:listarExpositoresResponse" />
  </message>
  <message name="eliminarExpositor">
    <part name="parameters" element="tns:eliminarExpositor" />
  </message>
  <message name="eliminarExpositorResponse">
    <part name="parameters" element="tns:eliminarExpositorResponse" />
  </message>
  <message name="ocultarExpositor">
    <part name="parameters" element="tns:ocultarExpositor" />
  </message>
  <message name="ocultarExpositorResponse">
    <part name="parameters" element="tns:ocultarExpositorResponse" />
  </message>
  <portType name="ExpositorWS">
    <operation name="listarExpositoresPerfil">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/listarExpositoresPerfilRequest" message="tns:listarExpositoresPerfil" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/listarExpositoresPerfilResponse" message="tns:listarExpositoresPerfilResponse" />
    </operation>
    <operation name="actualizarExpositor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/actualizarExpositorRequest" message="tns:actualizarExpositor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/actualizarExpositorResponse" message="tns:actualizarExpositorResponse" />
    </operation>
    <operation name="insertarExpositor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/insertarExpositorRequest" message="tns:insertarExpositor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/insertarExpositorResponse" message="tns:insertarExpositorResponse" />
    </operation>
    <operation name="listarExpositores">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/listarExpositoresRequest" message="tns:listarExpositores" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/listarExpositoresResponse" message="tns:listarExpositoresResponse" />
    </operation>
    <operation name="eliminarExpositor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/eliminarExpositorRequest" message="tns:eliminarExpositor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/eliminarExpositorResponse" message="tns:eliminarExpositorResponse" />
    </operation>
    <operation name="ocultarExpositor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/ocultarExpositorRequest" message="tns:ocultarExpositor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ExpositorWS/ocultarExpositorResponse" message="tns:ocultarExpositorResponse" />
    </operation>
  </portType>
  <binding name="ExpositorWSPortBinding" type="tns:ExpositorWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarExpositoresPerfil">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarExpositor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarExpositor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarExpositores">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarExpositor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ocultarExpositor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ExpositorWS">
    <port name="ExpositorWSPort" binding="tns:ExpositorWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ExpositorWS" />
    </port>
  </service>
</definitions>