FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ForoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarForos" type="tns:buscarForos" />
  <xs:element name="buscarForosResponse" type="tns:buscarForosResponse" />
  <xs:element name="editarForo" type="tns:editarForo" />
  <xs:element name="editarForoResponse" type="tns:editarForoResponse" />
  <xs:element name="eliminarForo" type="tns:eliminarForo" />
  <xs:element name="eliminarForoResponse" type="tns:eliminarForoResponse" />
  <xs:element name="insertarForo" type="tns:insertarForo" />
  <xs:element name="insertarForoResponse" type="tns:insertarForoResponse" />
  <xs:element name="listarCreados" type="tns:listarCreados" />
  <xs:element name="listarCreadosResponse" type="tns:listarCreadosResponse" />
  <xs:element name="listarForos" type="tns:listarForos" />
  <xs:element name="listarForosResponse" type="tns:listarForosResponse" />
  <xs:element name="listarForosSuscritos" type="tns:listarForosSuscritos" />
  <xs:element name="listarForosSuscritosResponse" type="tns:listarForosSuscritosResponse" />
  <xs:complexType name="listarForosSuscritos">
    <xs:sequence>
      <xs:element name="nombre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarForosSuscritosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCreador" type="xs:int" />
      <xs:element name="idForo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCreador" type="xs:string" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" name="origen" type="tns:origenForo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subforos" nillable="true" type="tns:subforo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="suscritos" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subforo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="foro" type="tns:foro" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hilos" nillable="true" type="tns:hilo" />
      <xs:element name="idSubforo" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="oculto" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hilo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element name="fijado" type="xs:boolean" />
      <xs:element name="idCreador" type="xs:int" />
      <xs:element name="idHilo" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mensajes" nillable="true" type="tns:mensaje" />
      <xs:element name="nroMensajes" type="xs:int" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" name="subforo" type="tns:subforo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensaje">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechaMaxEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hilo" type="tns:hilo" />
      <xs:element name="idAutor" type="xs:int" />
      <xs:element name="idMensaje" type="xs:int" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="respuestas" nillable="true" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarForos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarForosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarForos">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarForosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarForo">
    <xs:sequence>
      <xs:element minOccurs="0" name="foro" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarForoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCreados">
    <xs:sequence>
      <xs:element name="nombre" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarCreadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarForo">
    <xs:sequence>
      <xs:element minOccurs="0" name="foro" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editarForoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarForo">
    <xs:sequence>
      <xs:element minOccurs="0" name="foro" type="tns:foro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarForoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="origenForo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STEAM" />
      <xs:enumeration value="USUARIO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>