FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ForoUsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ForoUsuarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ForoUsuarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarSuscritos">
    <part name="parameters" element="tns:listarSuscritos" />
  </message>
  <message name="listarSuscritosResponse">
    <part name="parameters" element="tns:listarSuscritosResponse" />
  </message>
  <message name="eliminarRelacion">
    <part name="parameters" element="tns:eliminarRelacion" />
  </message>
  <message name="eliminarRelacionResponse">
    <part name="parameters" element="tns:eliminarRelacionResponse" />
  </message>
  <message name="suscribirRelacion">
    <part name="parameters" element="tns:suscribirRelacion" />
  </message>
  <message name="suscribirRelacionResponse">
    <part name="parameters" element="tns:suscribirRelacionResponse" />
  </message>
  <message name="crearRelacion">
    <part name="parameters" element="tns:crearRelacion" />
  </message>
  <message name="crearRelacionResponse">
    <part name="parameters" element="tns:crearRelacionResponse" />
  </message>
  <message name="desuscribirRelacion">
    <part name="parameters" element="tns:desuscribirRelacion" />
  </message>
  <message name="desuscribirRelacionResponse">
    <part name="parameters" element="tns:desuscribirRelacionResponse" />
  </message>
  <portType name="ForoUsuarioWS">
    <operation name="listarSuscritos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/listarSuscritosRequest" message="tns:listarSuscritos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/listarSuscritosResponse" message="tns:listarSuscritosResponse" />
    </operation>
    <operation name="eliminarRelacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/eliminarRelacionRequest" message="tns:eliminarRelacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/eliminarRelacionResponse" message="tns:eliminarRelacionResponse" />
    </operation>
    <operation name="suscribirRelacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/suscribirRelacionRequest" message="tns:suscribirRelacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/suscribirRelacionResponse" message="tns:suscribirRelacionResponse" />
    </operation>
    <operation name="crearRelacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/crearRelacionRequest" message="tns:crearRelacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/crearRelacionResponse" message="tns:crearRelacionResponse" />
    </operation>
    <operation name="desuscribirRelacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/desuscribirRelacionRequest" message="tns:desuscribirRelacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoUsuarioWS/desuscribirRelacionResponse" message="tns:desuscribirRelacionResponse" />
    </operation>
  </portType>
  <binding name="ForoUsuarioWSPortBinding" type="tns:ForoUsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarSuscritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarRelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="suscribirRelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="crearRelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="desuscribirRelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ForoUsuarioWS">
    <port name="ForoUsuarioWSPort" binding="tns:ForoUsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ForoUsuarioWS" />
    </port>
  </service>
</definitions>