FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ForoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ForoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ForoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarForosSuscritos">
    <part name="parameters" element="tns:listarForosSuscritos" />
  </message>
  <message name="listarForosSuscritosResponse">
    <part name="parameters" element="tns:listarForosSuscritosResponse" />
  </message>
  <message name="editarForo">
    <part name="parameters" element="tns:editarForo" />
  </message>
  <message name="editarForoResponse">
    <part name="parameters" element="tns:editarForoResponse" />
  </message>
  <message name="insertarForo">
    <part name="parameters" element="tns:insertarForo" />
  </message>
  <message name="insertarForoResponse">
    <part name="parameters" element="tns:insertarForoResponse" />
  </message>
  <message name="listarCreados">
    <part name="parameters" element="tns:listarCreados" />
  </message>
  <message name="listarCreadosResponse">
    <part name="parameters" element="tns:listarCreadosResponse" />
  </message>
  <message name="listarForos">
    <part name="parameters" element="tns:listarForos" />
  </message>
  <message name="listarForosResponse">
    <part name="parameters" element="tns:listarForosResponse" />
  </message>
  <message name="eliminarForo">
    <part name="parameters" element="tns:eliminarForo" />
  </message>
  <message name="eliminarForoResponse">
    <part name="parameters" element="tns:eliminarForoResponse" />
  </message>
  <message name="buscarForos">
    <part name="parameters" element="tns:buscarForos" />
  </message>
  <message name="buscarForosResponse">
    <part name="parameters" element="tns:buscarForosResponse" />
  </message>
  <portType name="ForoWS">
    <operation name="listarForosSuscritos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/listarForosSuscritosRequest" message="tns:listarForosSuscritos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/listarForosSuscritosResponse" message="tns:listarForosSuscritosResponse" />
    </operation>
    <operation name="editarForo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/editarForoRequest" message="tns:editarForo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/editarForoResponse" message="tns:editarForoResponse" />
    </operation>
    <operation name="insertarForo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/insertarForoRequest" message="tns:insertarForo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/insertarForoResponse" message="tns:insertarForoResponse" />
    </operation>
    <operation name="listarCreados">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/listarCreadosRequest" message="tns:listarCreados" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/listarCreadosResponse" message="tns:listarCreadosResponse" />
    </operation>
    <operation name="listarForos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/listarForosRequest" message="tns:listarForos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/listarForosResponse" message="tns:listarForosResponse" />
    </operation>
    <operation name="eliminarForo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/eliminarForoRequest" message="tns:eliminarForo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/eliminarForoResponse" message="tns:eliminarForoResponse" />
    </operation>
    <operation name="buscarForos">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/buscarForosRequest" message="tns:buscarForos" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ForoWS/buscarForosResponse" message="tns:buscarForosResponse" />
    </operation>
  </portType>
  <binding name="ForoWSPortBinding" type="tns:ForoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarForosSuscritos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editarForo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarForo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarCreados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarForos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarForo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarForos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ForoWS">
    <port name="ForoWSPort" binding="tns:ForoWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ForoWS" />
    </port>
  </service>
</definitions>