FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/GestorSancionesWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarGestor" type="tns:actualizarGestor" />
  <xs:element name="actualizarGestorResponse" type="tns:actualizarGestorResponse" />
  <xs:element name="asignarGestorUsuario" type="tns:asignarGestorUsuario" />
  <xs:element name="asignarGestorUsuarioResponse" type="tns:asignarGestorUsuarioResponse" />
  <xs:element name="buscarGestor" type="tns:buscarGestor" />
  <xs:element name="buscarGestorResponse" type="tns:buscarGestorResponse" />
  <xs:complexType name="actualizarGestor">
    <xs:sequence>
      <xs:element minOccurs="0" name="gestor" type="tns:gestorSanciones" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gestorSanciones">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantBaneos" type="xs:int" />
      <xs:element name="cantFaltas" type="xs:int" />
      <xs:element name="contadorBaneos" type="xs:int" />
      <xs:element name="contadorFaltas" type="xs:int" />
      <xs:element name="contadorPalabras" type="xs:int" />
      <xs:element minOccurs="0" name="fechaFinBan" type="xs:dateTime" />
      <xs:element name="idGestor" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="maxBaneos" type="xs:int" />
      <xs:element name="maxFaltas" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarGestorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarGestorUsuario">
    <xs:sequence>
      <xs:element name="uid_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asignarGestorUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarGestor">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarGestorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:gestorSanciones" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>