FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/GestorSancionesWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="GestorSancionesWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/GestorSancionesWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="asignarGestorUsuario">
    <part name="parameters" element="tns:asignarGestorUsuario" />
  </message>
  <message name="asignarGestorUsuarioResponse">
    <part name="parameters" element="tns:asignarGestorUsuarioResponse" />
  </message>
  <message name="buscarGestor">
    <part name="parameters" element="tns:buscarGestor" />
  </message>
  <message name="buscarGestorResponse">
    <part name="parameters" element="tns:buscarGestorResponse" />
  </message>
  <message name="actualizarGestor">
    <part name="parameters" element="tns:actualizarGestor" />
  </message>
  <message name="actualizarGestorResponse">
    <part name="parameters" element="tns:actualizarGestorResponse" />
  </message>
  <portType name="GestorSancionesWS">
    <operation name="asignarGestorUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/GestorSancionesWS/asignarGestorUsuarioRequest" message="tns:asignarGestorUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/GestorSancionesWS/asignarGestorUsuarioResponse" message="tns:asignarGestorUsuarioResponse" />
    </operation>
    <operation name="buscarGestor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/GestorSancionesWS/buscarGestorRequest" message="tns:buscarGestor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/GestorSancionesWS/buscarGestorResponse" message="tns:buscarGestorResponse" />
    </operation>
    <operation name="actualizarGestor">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/GestorSancionesWS/actualizarGestorRequest" message="tns:actualizarGestor" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/GestorSancionesWS/actualizarGestorResponse" message="tns:actualizarGestorResponse" />
    </operation>
  </portType>
  <binding name="GestorSancionesWSPortBinding" type="tns:GestorSancionesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="asignarGestorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarGestor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarGestor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GestorSancionesWS">
    <port name="GestorSancionesWSPort" binding="tns:GestorSancionesWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/GestorSancionesWS" />
    </port>
  </service>
</definitions>