FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/HiloWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="HiloWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/HiloWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="mostrarHilosSubforo">
    <part name="parameters" element="tns:mostrarHilosSubforo" />
  </message>
  <message name="mostrarHilosSubforoResponse">
    <part name="parameters" element="tns:mostrarHilosSubforoResponse" />
  </message>
  <message name="insertarHilo">
    <part name="parameters" element="tns:insertarHilo" />
  </message>
  <message name="insertarHiloResponse">
    <part name="parameters" element="tns:insertarHiloResponse" />
  </message>
  <message name="eliminarHilo">
    <part name="parameters" element="tns:eliminarHilo" />
  </message>
  <message name="eliminarHiloResponse">
    <part name="parameters" element="tns:eliminarHiloResponse" />
  </message>
  <message name="editarHilo">
    <part name="parameters" element="tns:editarHilo" />
  </message>
  <message name="editarHiloResponse">
    <part name="parameters" element="tns:editarHiloResponse" />
  </message>
  <portType name="HiloWS">
    <operation name="mostrarHilosSubforo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/mostrarHilosSubforoRequest" message="tns:mostrarHilosSubforo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/mostrarHilosSubforoResponse" message="tns:mostrarHilosSubforoResponse" />
    </operation>
    <operation name="insertarHilo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/insertarHiloRequest" message="tns:insertarHilo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/insertarHiloResponse" message="tns:insertarHiloResponse" />
    </operation>
    <operation name="eliminarHilo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/eliminarHiloRequest" message="tns:eliminarHilo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/eliminarHiloResponse" message="tns:eliminarHiloResponse" />
    </operation>
    <operation name="editarHilo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/editarHiloRequest" message="tns:editarHilo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/HiloWS/editarHiloResponse" message="tns:editarHiloResponse" />
    </operation>
  </portType>
  <binding name="HiloWSPortBinding" type="tns:HiloWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="mostrarHilosSubforo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarHilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarHilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editarHilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="HiloWS">
    <port name="HiloWSPort" binding="tns:HiloWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/HiloWS" />
    </port>
  </service>
</definitions>