FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/LogroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="LogroWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/LogroWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="insertarLogro">
    <part name="parameters" element="tns:insertarLogro" />
  </message>
  <message name="insertarLogroResponse">
    <part name="parameters" element="tns:insertarLogroResponse" />
  </message>
  <message name="actualizarLogro">
    <part name="parameters" element="tns:actualizarLogro" />
  </message>
  <message name="actualizarLogroResponse">
    <part name="parameters" element="tns:actualizarLogroResponse" />
  </message>
  <message name="listarLogros">
    <part name="parameters" element="tns:listarLogros" />
  </message>
  <message name="listarLogrosResponse">
    <part name="parameters" element="tns:listarLogrosResponse" />
  </message>
  <message name="buscarLogro">
    <part name="parameters" element="tns:buscarLogro" />
  </message>
  <message name="buscarLogroResponse">
    <part name="parameters" element="tns:buscarLogroResponse" />
  </message>
  <message name="eliminarLogro">
    <part name="parameters" element="tns:eliminarLogro" />
  </message>
  <message name="eliminarLogroResponse">
    <part name="parameters" element="tns:eliminarLogroResponse" />
  </message>
  <message name="listarLogrosPorIdJuego">
    <part name="parameters" element="tns:listarLogrosPorIdJuego" />
  </message>
  <message name="listarLogrosPorIdJuegoResponse">
    <part name="parameters" element="tns:listarLogrosPorIdJuegoResponse" />
  </message>
  <portType name="LogroWS">
    <operation name="insertarLogro">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/insertarLogroRequest" message="tns:insertarLogro" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/insertarLogroResponse" message="tns:insertarLogroResponse" />
    </operation>
    <operation name="actualizarLogro">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/actualizarLogroRequest" message="tns:actualizarLogro" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/actualizarLogroResponse" message="tns:actualizarLogroResponse" />
    </operation>
    <operation name="listarLogros">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/listarLogrosRequest" message="tns:listarLogros" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/listarLogrosResponse" message="tns:listarLogrosResponse" />
    </operation>
    <operation name="buscarLogro">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/buscarLogroRequest" message="tns:buscarLogro" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/buscarLogroResponse" message="tns:buscarLogroResponse" />
    </operation>
    <operation name="eliminarLogro">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/eliminarLogroRequest" message="tns:eliminarLogro" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/eliminarLogroResponse" message="tns:eliminarLogroResponse" />
    </operation>
    <operation name="listarLogrosPorIdJuego">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/listarLogrosPorIdJuegoRequest" message="tns:listarLogrosPorIdJuego" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/LogroWS/listarLogrosPorIdJuegoResponse" message="tns:listarLogrosPorIdJuegoResponse" />
    </operation>
  </portType>
  <binding name="LogroWSPortBinding" type="tns:LogroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="insertarLogro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarLogro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLogros">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarLogro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLogro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarLogrosPorIdJuego">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="LogroWS">
    <port name="LogroWSPort" binding="tns:LogroWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/LogroWS" />
    </port>
  </service>
</definitions>