FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/MensajeWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="MensajeWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/MensajeWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="editarMensaje">
    <part name="parameters" element="tns:editarMensaje" />
  </message>
  <message name="editarMensajeResponse">
    <part name="parameters" element="tns:editarMensajeResponse" />
  </message>
  <message name="insertarMensaje">
    <part name="parameters" element="tns:insertarMensaje" />
  </message>
  <message name="insertarMensajeResponse">
    <part name="parameters" element="tns:insertarMensajeResponse" />
  </message>
  <message name="eliminarMensaje">
    <part name="parameters" element="tns:eliminarMensaje" />
  </message>
  <message name="eliminarMensajeResponse">
    <part name="parameters" element="tns:eliminarMensajeResponse" />
  </message>
  <message name="mostrarMensajesHilo">
    <part name="parameters" element="tns:mostrarMensajesHilo" />
  </message>
  <message name="mostrarMensajesHiloResponse">
    <part name="parameters" element="tns:mostrarMensajesHiloResponse" />
  </message>
  <portType name="MensajeWS">
    <operation name="editarMensaje">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/editarMensajeRequest" message="tns:editarMensaje" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/editarMensajeResponse" message="tns:editarMensajeResponse" />
    </operation>
    <operation name="insertarMensaje">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/insertarMensajeRequest" message="tns:insertarMensaje" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/insertarMensajeResponse" message="tns:insertarMensajeResponse" />
    </operation>
    <operation name="eliminarMensaje">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/eliminarMensajeRequest" message="tns:eliminarMensaje" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/eliminarMensajeResponse" message="tns:eliminarMensajeResponse" />
    </operation>
    <operation name="mostrarMensajesHilo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/mostrarMensajesHiloRequest" message="tns:mostrarMensajesHilo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/MensajeWS/mostrarMensajesHiloResponse" message="tns:mostrarMensajesHiloResponse" />
    </operation>
  </portType>
  <binding name="MensajeWSPortBinding" type="tns:MensajeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="editarMensaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMensaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMensaje">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="mostrarMensajesHilo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="MensajeWS">
    <port name="MensajeWSPort" binding="tns:MensajeWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/MensajeWS" />
    </port>
  </service>
</definitions>