FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/NotificacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NotificacionWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/NotificacionWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarNotificaciones">
    <part name="parameters" element="tns:listarNotificaciones" />
  </message>
  <message name="listarNotificacionesResponse">
    <part name="parameters" element="tns:listarNotificacionesResponse" />
  </message>
  <message name="insertarNotificacion">
    <part name="parameters" element="tns:insertarNotificacion" />
  </message>
  <message name="insertarNotificacionResponse">
    <part name="parameters" element="tns:insertarNotificacionResponse" />
  </message>
  <message name="eliminarNotificacion">
    <part name="parameters" element="tns:eliminarNotificacion" />
  </message>
  <message name="eliminarNotificacionResponse">
    <part name="parameters" element="tns:eliminarNotificacionResponse" />
  </message>
  <message name="actualizarNotificacion">
    <part name="parameters" element="tns:actualizarNotificacion" />
  </message>
  <message name="actualizarNotificacionResponse">
    <part name="parameters" element="tns:actualizarNotificacionResponse" />
  </message>
  <portType name="NotificacionWS">
    <operation name="listarNotificaciones">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/listarNotificacionesRequest" message="tns:listarNotificaciones" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/listarNotificacionesResponse" message="tns:listarNotificacionesResponse" />
    </operation>
    <operation name="insertarNotificacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/insertarNotificacionRequest" message="tns:insertarNotificacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/insertarNotificacionResponse" message="tns:insertarNotificacionResponse" />
    </operation>
    <operation name="eliminarNotificacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/eliminarNotificacionRequest" message="tns:eliminarNotificacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/eliminarNotificacionResponse" message="tns:eliminarNotificacionResponse" />
    </operation>
    <operation name="actualizarNotificacion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/actualizarNotificacionRequest" message="tns:actualizarNotificacion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/NotificacionWS/actualizarNotificacionResponse" message="tns:actualizarNotificacionResponse" />
    </operation>
  </portType>
  <binding name="NotificacionWSPortBinding" type="tns:NotificacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarNotificaciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarNotificacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NotificacionWS">
    <port name="NotificacionWSPort" binding="tns:NotificacionWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/NotificacionWS" />
    </port>
  </service>
</definitions>