FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/NotificacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarNotificacion" type="tns:actualizarNotificacion" />
  <xs:element name="actualizarNotificacionResponse" type="tns:actualizarNotificacionResponse" />
  <xs:element name="eliminarNotificacion" type="tns:eliminarNotificacion" />
  <xs:element name="eliminarNotificacionResponse" type="tns:eliminarNotificacionResponse" />
  <xs:element name="eliminarNotificacionesUsuario" type="tns:eliminarNotificacionesUsuario" />
  <xs:element name="eliminarNotificacionesUsuarioResponse" type="tns:eliminarNotificacionesUsuarioResponse" />
  <xs:element name="insertarNotificacion" type="tns:insertarNotificacion" />
  <xs:element name="insertarNotificacionResponse" type="tns:insertarNotificacionResponse" />
  <xs:element name="listarNotificaciones" type="tns:listarNotificaciones" />
  <xs:element name="listarNotificacionesResponse" type="tns:listarNotificacionesResponse" />
  <xs:element name="marcarNotificacionLeida" type="tns:marcarNotificacionLeida" />
  <xs:element name="marcarNotificacionLeidaResponse" type="tns:marcarNotificacionLeidaResponse" />
  <xs:complexType name="insertarNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="notificacion" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="notificacion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idNotificacion" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element name="revisada" type="xs:boolean" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoNotificacion" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="amigos" nillable="true" type="tns:usuario" />
      <xs:element minOccurs="0" name="biblioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="bloqueados" nillable="true" type="tns:usuario" />
      <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element minOccurs="0" name="fechaNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="foros" nillable="true" type="tns:foro" />
      <xs:element minOccurs="0" name="fotoURL" type="xs:string" />
      <xs:element minOccurs="0" name="gestorSanciones" type="tns:gestorSanciones" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mensajes" nillable="true" type="tns:mensaje" />
      <xs:element minOccurs="0" name="nombreCuenta" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePerfil" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="notificaciones" nillable="true" type="tns:notificacion" />
      <xs:element minOccurs="0" name="pais" type="tns:pais" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
      <xs:element name="UID" type="xs:int" />
      <xs:element name="verificado" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="biblioteca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="colecciones" nillable="true" type="tns:coleccion" />
      <xs:element name="idBiblioteca" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:productoAdquirido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="coleccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="biblioteca" type="tns:biblioteca" />
      <xs:element name="idColeccion" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:productoAdquirido" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="productoAdquirido">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="actualizado" type="xs:boolean" />
      <xs:element minOccurs="0" name="biblioteca" type="tns:biblioteca" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="colecciones" nillable="true" type="tns:coleccion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="desbloqueados" nillable="true" type="tns:logroDesbloqueado" />
      <xs:element minOccurs="0" name="fechaAdquisicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaEjecutado" type="xs:dateTime" />
      <xs:element name="idProductoAdquirido" type="xs:int" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element minOccurs="0" name="tiempoUso" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logroDesbloqueado">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaDesbloqueo" type="xs:dateTime" />
      <xs:element name="idLogroDesbloqueado" type="xs:int" />
      <xs:element minOccurs="0" name="juego" type="tns:productoAdquirido" />
      <xs:element minOccurs="0" name="logro" type="tns:logro" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idLogro" type="xs:int" />
      <xs:element minOccurs="0" name="juego" type="tns:juego" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="juego">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:producto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idObjetos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="logros" nillable="true" type="tns:logro" />
          <xs:element name="multijugador" type="xs:boolean" />
          <xs:element minOccurs="0" name="requisitosMinimos" type="xs:string" />
          <xs:element minOccurs="0" name="requisitosRecomendados" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="espacioDisco" type="xs:double" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element name="idProducto" type="xs:int" />
      <xs:element minOccurs="0" name="logoUrl" type="xs:string" />
      <xs:element minOccurs="0" name="portadaUrl" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
      <xs:element minOccurs="0" name="proveedor" type="tns:proveedor" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="proveedor">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="idProveedor" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productos" nillable="true" type="tns:producto" />
      <xs:element minOccurs="0" name="razonSocial" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cartera">
    <xs:sequence>
      <xs:element name="cantMovimientos" type="xs:int" />
      <xs:element name="fondos" type="xs:double" />
      <xs:element name="idCartera" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="movimientos" nillable="true" type="tns:movimiento" />
      <xs:element minOccurs="0" name="owner" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="movimiento">
    <xs:sequence>
      <xs:element minOccurs="0" name="cartera" type="tns:cartera" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="idMovimiento" type="xs:int" />
      <xs:element minOccurs="0" name="idTransaccion" type="xs:string" />
      <xs:element minOccurs="0" name="metodoPago" type="tns:metodoPago" />
      <xs:element name="monto" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producto" nillable="true" type="tns:productoAdquirido" />
      <xs:element minOccurs="0" name="tipo" type="tns:tipoMovimiento" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foro">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCreador" type="xs:int" />
      <xs:element name="idForo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombreCreador" type="xs:string" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" name="origen" type="tns:origenForo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subforos" nillable="true" type="tns:subforo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="suscritos" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subforo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="foro" type="tns:foro" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="hilos" nillable="true" type="tns:hilo" />
      <xs:element name="idSubforo" type="xs:int" />
      <xs:element minOccurs="0" name="mensaje" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="oculto" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="hilo">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaModificacion" type="xs:dateTime" />
      <xs:element name="fijado" type="xs:boolean" />
      <xs:element minOccurs="0" name="fotoPerfil" type="xs:string" />
      <xs:element name="idCreador" type="xs:int" />
      <xs:element name="idHilo" type="xs:int" />
      <xs:element minOccurs="0" name="imagenUrl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mensajes" nillable="true" type="tns:mensaje" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="nroMensajes" type="xs:int" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" name="subforo" type="tns:subforo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="mensaje">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="contenido" type="xs:string" />
      <xs:element minOccurs="0" name="fechaMaxEdicion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaPublicacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fotoPerfil" type="xs:string" />
      <xs:element minOccurs="0" name="hilo" type="tns:hilo" />
      <xs:element name="idAutor" type="xs:int" />
      <xs:element name="idMensaje" type="xs:int" />
      <xs:element minOccurs="0" name="nombreUsuario" type="xs:string" />
      <xs:element name="oculto" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="respuestas" nillable="true" type="tns:mensaje" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gestorSanciones">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cantBaneos" type="xs:int" />
      <xs:element name="cantFaltas" type="xs:int" />
      <xs:element name="contadorBaneos" type="xs:int" />
      <xs:element name="contadorFaltas" type="xs:int" />
      <xs:element name="contadorPalabras" type="xs:int" />
      <xs:element minOccurs="0" name="fechaFinBan" type="xs:dateTime" />
      <xs:element name="idGestor" type="xs:int" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element name="maxBaneos" type="xs:int" />
      <xs:element name="maxFaltas" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subforos" nillable="true" type="tns:subforo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pais">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element name="idPais" type="xs:int" />
      <xs:element minOccurs="0" name="moneda" type="tns:tipoMoneda" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoMoneda">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cambioDeDolares" type="xs:double" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCambio" type="xs:dateTime" />
      <xs:element name="idTipoMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="simbolo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNotificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarNotificacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="notificacion" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarNotificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNotificacionesUsuario">
    <xs:sequence>
      <xs:element name="fid_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNotificacionesUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNotificacion">
    <xs:sequence>
      <xs:element name="idNotificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNotificacionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNotificaciones">
    <xs:sequence>
      <xs:element name="fid_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNotificacionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:notificacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marcarNotificacionLeida">
    <xs:sequence>
      <xs:element name="idNotificacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="marcarNotificacionLeidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="tipoNotificacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AMIGOS" />
      <xs:enumeration value="JUEGOS" />
      <xs:enumeration value="BIBLIOTECA" />
      <xs:enumeration value="FOROS" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="metodoPago">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAYPAL" />
      <xs:enumeration value="TARJETA" />
      <xs:enumeration value="GIFTCARD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="tipoMovimiento">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEPOSITO" />
      <xs:enumeration value="RETIRO" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="origenForo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="STEAM" />
      <xs:enumeration value="USUARIO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>