FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/PaisWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PaisWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/PaisWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="buscarPais">
    <part name="parameters" element="tns:buscarPais" />
  </message>
  <message name="buscarPaisResponse">
    <part name="parameters" element="tns:buscarPaisResponse" />
  </message>
  <message name="listarPaises">
    <part name="parameters" element="tns:listarPaises" />
  </message>
  <message name="listarPaisesResponse">
    <part name="parameters" element="tns:listarPaisesResponse" />
  </message>
  <message name="insertarPais">
    <part name="parameters" element="tns:insertarPais" />
  </message>
  <message name="insertarPaisResponse">
    <part name="parameters" element="tns:insertarPaisResponse" />
  </message>
  <message name="actualizarPais">
    <part name="parameters" element="tns:actualizarPais" />
  </message>
  <message name="actualizarPaisResponse">
    <part name="parameters" element="tns:actualizarPaisResponse" />
  </message>
  <portType name="PaisWS">
    <operation name="buscarPais">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/buscarPaisRequest" message="tns:buscarPais" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/buscarPaisResponse" message="tns:buscarPaisResponse" />
    </operation>
    <operation name="listarPaises">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/listarPaisesRequest" message="tns:listarPaises" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/listarPaisesResponse" message="tns:listarPaisesResponse" />
    </operation>
    <operation name="insertarPais">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/insertarPaisRequest" message="tns:insertarPais" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/insertarPaisResponse" message="tns:insertarPaisResponse" />
    </operation>
    <operation name="actualizarPais">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/actualizarPaisRequest" message="tns:actualizarPais" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/PaisWS/actualizarPaisResponse" message="tns:actualizarPaisResponse" />
    </operation>
  </portType>
  <binding name="PaisWSPortBinding" type="tns:PaisWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="buscarPais">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPaises">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPais">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPais">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PaisWS">
    <port name="PaisWSPort" binding="tns:PaisWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/PaisWS" />
    </port>
  </service>
</definitions>