FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/PalabrasProhibidasWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.softprog.pucp.edu.pe/" targetNamespace="http://services.softprog.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarPalabraProhibida" type="tns:buscarPalabraProhibida" />
  <xs:element name="buscarPalabraProhibidaResponse" type="tns:buscarPalabraProhibidaResponse" />
  <xs:complexType name="buscarPalabraProhibida">
    <xs:sequence>
      <xs:element minOccurs="0" name="palabra" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPalabraProhibidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>