FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/ProductoAdquiridoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ProductoAdquiridoWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/ProductoAdquiridoWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="actualizarProductoAdquirido">
    <part name="parameters" element="tns:actualizarProductoAdquirido" />
  </message>
  <message name="actualizarProductoAdquiridoResponse">
    <part name="parameters" element="tns:actualizarProductoAdquiridoResponse" />
  </message>
  <message name="listarProductosAdquiridosPorIdBiblioteca">
    <part name="parameters" element="tns:listarProductosAdquiridosPorIdBiblioteca" />
  </message>
  <message name="listarProductosAdquiridosPorIdBibliotecaResponse">
    <part name="parameters" element="tns:listarProductosAdquiridosPorIdBibliotecaResponse" />
  </message>
  <message name="listarProductosAdquiridosPorIdColeccion">
    <part name="parameters" element="tns:listarProductosAdquiridosPorIdColeccion" />
  </message>
  <message name="listarProductosAdquiridosPorIdColeccionResponse">
    <part name="parameters" element="tns:listarProductosAdquiridosPorIdColeccionResponse" />
  </message>
  <message name="eliminarProductoAdquirido">
    <part name="parameters" element="tns:eliminarProductoAdquirido" />
  </message>
  <message name="eliminarProductoAdquiridoResponse">
    <part name="parameters" element="tns:eliminarProductoAdquiridoResponse" />
  </message>
  <message name="buscarProductoAdquirido">
    <part name="parameters" element="tns:buscarProductoAdquirido" />
  </message>
  <message name="buscarProductoAdquiridoResponse">
    <part name="parameters" element="tns:buscarProductoAdquiridoResponse" />
  </message>
  <message name="insertarProductoAdquirido">
    <part name="parameters" element="tns:insertarProductoAdquirido" />
  </message>
  <message name="insertarProductoAdquiridoResponse">
    <part name="parameters" element="tns:insertarProductoAdquiridoResponse" />
  </message>
  <portType name="ProductoAdquiridoWS">
    <operation name="actualizarProductoAdquirido">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/actualizarProductoAdquiridoRequest" message="tns:actualizarProductoAdquirido" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/actualizarProductoAdquiridoResponse" message="tns:actualizarProductoAdquiridoResponse" />
    </operation>
    <operation name="listarProductosAdquiridosPorIdBiblioteca">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/listarProductosAdquiridosPorIdBibliotecaRequest" message="tns:listarProductosAdquiridosPorIdBiblioteca" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/listarProductosAdquiridosPorIdBibliotecaResponse" message="tns:listarProductosAdquiridosPorIdBibliotecaResponse" />
    </operation>
    <operation name="listarProductosAdquiridosPorIdColeccion">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/listarProductosAdquiridosPorIdColeccionRequest" message="tns:listarProductosAdquiridosPorIdColeccion" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/listarProductosAdquiridosPorIdColeccionResponse" message="tns:listarProductosAdquiridosPorIdColeccionResponse" />
    </operation>
    <operation name="eliminarProductoAdquirido">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/eliminarProductoAdquiridoRequest" message="tns:eliminarProductoAdquirido" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/eliminarProductoAdquiridoResponse" message="tns:eliminarProductoAdquiridoResponse" />
    </operation>
    <operation name="buscarProductoAdquirido">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/buscarProductoAdquiridoRequest" message="tns:buscarProductoAdquirido" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/buscarProductoAdquiridoResponse" message="tns:buscarProductoAdquiridoResponse" />
    </operation>
    <operation name="insertarProductoAdquirido">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/insertarProductoAdquiridoRequest" message="tns:insertarProductoAdquirido" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/ProductoAdquiridoWS/insertarProductoAdquiridoResponse" message="tns:insertarProductoAdquiridoResponse" />
    </operation>
  </portType>
  <binding name="ProductoAdquiridoWSPortBinding" type="tns:ProductoAdquiridoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="actualizarProductoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosAdquiridosPorIdBiblioteca">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductosAdquiridosPorIdColeccion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProductoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarProductoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProductoAdquirido">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ProductoAdquiridoWS">
    <port name="ProductoAdquiridoWSPort" binding="tns:ProductoAdquiridoWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/ProductoAdquiridoWS" />
    </port>
  </service>
</definitions>