FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/RelacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RelacionWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/RelacionWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarAmigo">
    <part name="parameters" element="tns:eliminarAmigo" />
  </message>
  <message name="eliminarAmigoResponse">
    <part name="parameters" element="tns:eliminarAmigoResponse" />
  </message>
  <message name="agregarAmigo">
    <part name="parameters" element="tns:agregarAmigo" />
  </message>
  <message name="agregarAmigoResponse">
    <part name="parameters" element="tns:agregarAmigoResponse" />
  </message>
  <message name="bloquearUsuario">
    <part name="parameters" element="tns:bloquearUsuario" />
  </message>
  <message name="bloquearUsuarioResponse">
    <part name="parameters" element="tns:bloquearUsuarioResponse" />
  </message>
  <portType name="RelacionWS">
    <operation name="eliminarAmigo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/RelacionWS/eliminarAmigoRequest" message="tns:eliminarAmigo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/RelacionWS/eliminarAmigoResponse" message="tns:eliminarAmigoResponse" />
    </operation>
    <operation name="agregarAmigo">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/RelacionWS/agregarAmigoRequest" message="tns:agregarAmigo" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/RelacionWS/agregarAmigoResponse" message="tns:agregarAmigoResponse" />
    </operation>
    <operation name="bloquearUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/RelacionWS/bloquearUsuarioRequest" message="tns:bloquearUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/RelacionWS/bloquearUsuarioResponse" message="tns:bloquearUsuarioResponse" />
    </operation>
  </portType>
  <binding name="RelacionWSPortBinding" type="tns:RelacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarAmigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="agregarAmigo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="bloquearUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="RelacionWS">
    <port name="RelacionWSPort" binding="tns:RelacionWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/RelacionWS" />
    </port>
  </service>
</definitions>