FrontendCsharp/SteamWA/SteamWA/Connected Services/SteamServiceWS/UsuarioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.softprog.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="UsuarioWS" targetNamespace="http://services.softprog.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/SteamWS/UsuarioWS?xsd=1" namespace="http://services.softprog.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarUsuario">
    <part name="parameters" element="tns:eliminarUsuario" />
  </message>
  <message name="eliminarUsuarioResponse">
    <part name="parameters" element="tns:eliminarUsuarioResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="verificarUsuario">
    <part name="parameters" element="tns:verificarUsuario" />
  </message>
  <message name="verificarUsuarioResponse">
    <part name="parameters" element="tns:verificarUsuarioResponse" />
  </message>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="buscarUsuarioPorId">
    <part name="parameters" element="tns:buscarUsuarioPorId" />
  </message>
  <message name="buscarUsuarioPorIdResponse">
    <part name="parameters" element="tns:buscarUsuarioPorIdResponse" />
  </message>
  <message name="actualizarUsuario">
    <part name="parameters" element="tns:actualizarUsuario" />
  </message>
  <message name="actualizarUsuarioResponse">
    <part name="parameters" element="tns:actualizarUsuarioResponse" />
  </message>
  <message name="suspenderUsuario">
    <part name="parameters" element="tns:suspenderUsuario" />
  </message>
  <message name="suspenderUsuarioResponse">
    <part name="parameters" element="tns:suspenderUsuarioResponse" />
  </message>
  <message name="buscarUsuarioPorNombreCuenta">
    <part name="parameters" element="tns:buscarUsuarioPorNombreCuenta" />
  </message>
  <message name="buscarUsuarioPorNombreCuentaResponse">
    <part name="parameters" element="tns:buscarUsuarioPorNombreCuentaResponse" />
  </message>
  <message name="listarUsuariosQueBloquearon">
    <part name="parameters" element="tns:listarUsuariosQueBloquearon" />
  </message>
  <message name="listarUsuariosQueBloquearonResponse">
    <part name="parameters" element="tns:listarUsuariosQueBloquearonResponse" />
  </message>
  <message name="listarUsuariosPorNombreCuenta">
    <part name="parameters" element="tns:listarUsuariosPorNombreCuenta" />
  </message>
  <message name="listarUsuariosPorNombreCuentaResponse">
    <part name="parameters" element="tns:listarUsuariosPorNombreCuentaResponse" />
  </message>
  <message name="listarBloqueadosPorUsuario">
    <part name="parameters" element="tns:listarBloqueadosPorUsuario" />
  </message>
  <message name="listarBloqueadosPorUsuarioResponse">
    <part name="parameters" element="tns:listarBloqueadosPorUsuarioResponse" />
  </message>
  <message name="listarAmigosPorUsuario">
    <part name="parameters" element="tns:listarAmigosPorUsuario" />
  </message>
  <message name="listarAmigosPorUsuarioResponse">
    <part name="parameters" element="tns:listarAmigosPorUsuarioResponse" />
  </message>
  <portType name="UsuarioWS">
    <operation name="eliminarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/eliminarUsuarioRequest" message="tns:eliminarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/eliminarUsuarioResponse" message="tns:eliminarUsuarioResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="verificarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/verificarUsuarioRequest" message="tns:verificarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/verificarUsuarioResponse" message="tns:verificarUsuarioResponse" />
    </operation>
    <operation name="listarUsuarios">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="buscarUsuarioPorId">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/buscarUsuarioPorIdRequest" message="tns:buscarUsuarioPorId" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/buscarUsuarioPorIdResponse" message="tns:buscarUsuarioPorIdResponse" />
    </operation>
    <operation name="actualizarUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/actualizarUsuarioRequest" message="tns:actualizarUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse" />
    </operation>
    <operation name="suspenderUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/suspenderUsuarioRequest" message="tns:suspenderUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/suspenderUsuarioResponse" message="tns:suspenderUsuarioResponse" />
    </operation>
    <operation name="buscarUsuarioPorNombreCuenta">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/buscarUsuarioPorNombreCuentaRequest" message="tns:buscarUsuarioPorNombreCuenta" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/buscarUsuarioPorNombreCuentaResponse" message="tns:buscarUsuarioPorNombreCuentaResponse" />
    </operation>
    <operation name="listarUsuariosQueBloquearon">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosQueBloquearonRequest" message="tns:listarUsuariosQueBloquearon" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosQueBloquearonResponse" message="tns:listarUsuariosQueBloquearonResponse" />
    </operation>
    <operation name="listarUsuariosPorNombreCuenta">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosPorNombreCuentaRequest" message="tns:listarUsuariosPorNombreCuenta" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarUsuariosPorNombreCuentaResponse" message="tns:listarUsuariosPorNombreCuentaResponse" />
    </operation>
    <operation name="listarBloqueadosPorUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarBloqueadosPorUsuarioRequest" message="tns:listarBloqueadosPorUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarBloqueadosPorUsuarioResponse" message="tns:listarBloqueadosPorUsuarioResponse" />
    </operation>
    <operation name="listarAmigosPorUsuario">
      <input wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarAmigosPorUsuarioRequest" message="tns:listarAmigosPorUsuario" />
      <output wsam:Action="http://services.softprog.pucp.edu.pe/UsuarioWS/listarAmigosPorUsuarioResponse" message="tns:listarAmigosPorUsuarioResponse" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarUsuarioPorId">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="suspenderUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="buscarUsuarioPorNombreCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosQueBloquearon">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarUsuariosPorNombreCuenta">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarBloqueadosPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarAmigosPorUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://localhost:8080/SteamWS/UsuarioWS" />
    </port>
  </service>
</definitions>