ProyectosNET/SteamWA/SteamWA/Connected Services/SteamServices/TipoMonedaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.personal.usuario.steam.pucp.edu.pe/" targetNamespace="http://services.personal.usuario.steam.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarTiposMoneda" type="tns:actualizarTiposMoneda" />
  <xs:element name="actualizarTiposMonedaResponse" type="tns:actualizarTiposMonedaResponse" />
  <xs:element name="eliminarTipoMoneda" type="tns:eliminarTipoMoneda" />
  <xs:element name="eliminarTipoMonedaResponse" type="tns:eliminarTipoMonedaResponse" />
  <xs:element name="insertarTipoMoneda" type="tns:insertarTipoMoneda" />
  <xs:element name="insertarTipoMonedaResponse" type="tns:insertarTipoMonedaResponse" />
  <xs:element name="listarTiposMoneda" type="tns:listarTiposMoneda" />
  <xs:element name="listarTiposMonedaResponse" type="tns:listarTiposMonedaResponse" />
  <xs:complexType name="listarTiposMoneda">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTiposMonedaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:tipoMoneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tipoMoneda">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="cambioDeDolares" type="xs:double" />
      <xs:element minOccurs="0" name="codigo" type="xs:string" />
      <xs:element minOccurs="0" name="fechaCambio" type="xs:dateTime" />
      <xs:element name="idTipoMoneda" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoMoneda" type="tns:tipoMoneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarTipoMonedaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoMoneda">
    <xs:sequence>
      <xs:element name="idTipoMoneda" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarTipoMonedaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarTiposMoneda">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipoMoneda" type="tns:tipoMoneda" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarTiposMonedaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>